<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blazeapp</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
  </head>
  <style type="text/css">
      #map { 
            margin: auto;
            box-shadow: 10px 10px 5px #888888;
            width:95%;
            height:400px;
      }
      
  </style>
  <body>
      <h1>Blazeapp</h1>
      <iframe id ="map" src="mapping.html">
      </iframe>
  </body>
</html>