
        <!DOCTYPE html>
        <head>
            
        
            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
        
        
        
            
        
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        
        
        
            
        
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.min.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster-src.js"></script>
        
        
        
            
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/leaflet.markercluster.js"></script>
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.Default.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/0.4.0/MarkerCluster.css" />
        
        
        
            
        
            <link rel="stylesheet" href="https://raw.githubusercontent.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css" />
        
        
        
            
            <style>

            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                }

            #map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>
            
        
            
            <style> #map_75fcbedbbef240c087f9f34c5fa51c51 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
        
        
        </head>
        <body>
            
        
            
            <div class="folium-map" id="map_75fcbedbbef240c087f9f34c5fa51c51" ></div>
        
        
        
        </body>
        <script>
            
        
            

            var southWest = L.latLng(-90, -180);
            var northEast = L.latLng(90, 180);
            var bounds = L.latLngBounds(southWest, northEast);

            var map_75fcbedbbef240c087f9f34c5fa51c51 = L.map('map_75fcbedbbef240c087f9f34c5fa51c51', {
                                           center:[18.0179,-76.8099],
                                           zoom: 10,
                                           maxBounds: bounds,
                                           layers: [],
                                           crs: L.CRS.EPSG3857
                                         });
            
        
        
            
            var tile_layer_522d4db011aa4a7288ebd49c5f9a4a1c = L.tileLayer(
                'https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png',
                {
                    maxZoom: 18,
                    minZoom: 1,
                    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright">ODbL</a>.',
                    detectRetina: false
                    }
                ).addTo(map_75fcbedbbef240c087f9f34c5fa51c51);

        
        
            

            var marker_161a05bbd8c744f881a97232c3f389bd = L.marker(
                [17.9866,-76.8192],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_44fe1814fa70413e90241bdab30e294a = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_161a05bbd8c744f881a97232c3f389bd.setIcon(icon_44fe1814fa70413e90241bdab30e294a);
            
        
            
            var popup_898e826d266a43e8934888b4dbc49398 = L.popup({maxWidth: '300'});

            
                var html_3f50f62989ba4334873fa6ad9f4c4c31 = $('         <div id="html_3f50f62989ba4334873fa6ad9f4c4c31"                 style="width: 100.0%; height: 100.0%;">                 Half Way Three</div>                 ')[0];
                popup_898e826d266a43e8934888b4dbc49398.setContent(html_3f50f62989ba4334873fa6ad9f4c4c31);
            

            marker_161a05bbd8c744f881a97232c3f389bd.bindPopup(popup_898e826d266a43e8934888b4dbc49398);

            
        
        
            

            var marker_f9b8735867b2479c9f3f58364ad4713e = L.marker(
                [18.0088,-76.7464],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_a19a218952ad47228377931f7816a5e7 = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_f9b8735867b2479c9f3f58364ad4713e.setIcon(icon_a19a218952ad47228377931f7816a5e7);
            
        
            
            var popup_10128e83e4e64438af27b9bbaec4f3a8 = L.popup({maxWidth: '300'});

            
                var html_5fc5c90bebc24ec6a39c74802ea956be = $('         <div id="html_5fc5c90bebc24ec6a39c74802ea956be"                 style="width: 100.0%; height: 100.0%;">                 Mona</div>                 ')[0];
                popup_10128e83e4e64438af27b9bbaec4f3a8.setContent(html_5fc5c90bebc24ec6a39c74802ea956be);
            

            marker_f9b8735867b2479c9f3f58364ad4713e.bindPopup(popup_10128e83e4e64438af27b9bbaec4f3a8);

            
        
        
            

            var marker_bbfc14f4e43248a9921f0c609f1ba3f4 = L.marker(
                [17.9348,76.8413],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_62911a6b497540028f2083513de7ce7f = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bbfc14f4e43248a9921f0c609f1ba3f4.setIcon(icon_62911a6b497540028f2083513de7ce7f);
            
        
            
            var popup_83fdf9115f5a46d8803be568c29f2ca3 = L.popup({maxWidth: '300'});

            
                var html_7723b0bfe37b4d9bb104670d8f4000a9 = $('         <div id="html_7723b0bfe37b4d9bb104670d8f4000a9"                 style="width: 100.0%; height: 100.0%;">                 Port Royal</div>                 ')[0];
                popup_83fdf9115f5a46d8803be568c29f2ca3.setContent(html_7723b0bfe37b4d9bb104670d8f4000a9);
            

            marker_bbfc14f4e43248a9921f0c609f1ba3f4.bindPopup(popup_83fdf9115f5a46d8803be568c29f2ca3);

            
        
        
            

            var marker_10ad1945644848c380641003f0053e56 = L.marker(
                [17.9872,-76.7762],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_ab1e876754464c378bcda31497345e20 = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_10ad1945644848c380641003f0053e56.setIcon(icon_ab1e876754464c378bcda31497345e20);
            
        
            
            var popup_dd98b0fccb47417790daf2829a7d503c = L.popup({maxWidth: '300'});

            
                var html_870dba2e04864ae586df66e24fb5c1a8 = $('         <div id="html_870dba2e04864ae586df66e24fb5c1a8"                 style="width: 100.0%; height: 100.0%;">                 Cross Roads</div>                 ')[0];
                popup_dd98b0fccb47417790daf2829a7d503c.setContent(html_870dba2e04864ae586df66e24fb5c1a8);
            

            marker_10ad1945644848c380641003f0053e56.bindPopup(popup_dd98b0fccb47417790daf2829a7d503c);

            
        
        
            

            var marker_13e7fedbaaa248c4bb4c52f22510df2e = L.marker(
                [17.9618,-76.8844],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_183444f1454d4c7c90cc8aa8ba499ab2 = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_13e7fedbaaa248c4bb4c52f22510df2e.setIcon(icon_183444f1454d4c7c90cc8aa8ba499ab2);
            
        
            
            var popup_b37e9eedb4c04c8a8971402f363faf6f = L.popup({maxWidth: '300'});

            
                var html_cd2c62d4d7f34ba3a989bffe426ae5bf = $('         <div id="html_cd2c62d4d7f34ba3a989bffe426ae5bf"                 style="width: 100.0%; height: 100.0%;">                 Portmore</div>                 ')[0];
                popup_b37e9eedb4c04c8a8971402f363faf6f.setContent(html_cd2c62d4d7f34ba3a989bffe426ae5bf);
            

            marker_13e7fedbaaa248c4bb4c52f22510df2e.bindPopup(popup_b37e9eedb4c04c8a8971402f363faf6f);

            
        
        
            

            var marker_bb34965511c84ad1b3b031510b154cec = L.marker(
                [17.9422,-76.6657],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_63aaaa12533548769f328f9bcb86e929 = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_bb34965511c84ad1b3b031510b154cec.setIcon(icon_63aaaa12533548769f328f9bcb86e929);
            
        
            
            var popup_485b056c09224f0dad7606c47ef5dbd4 = L.popup({maxWidth: '300'});

            
                var html_85fe7597bf9c44059c7eaea3cee09324 = $('         <div id="html_85fe7597bf9c44059c7eaea3cee09324"                 style="width: 100.0%; height: 100.0%;">                 Bull Bay</div>                 ')[0];
                popup_485b056c09224f0dad7606c47ef5dbd4.setContent(html_85fe7597bf9c44059c7eaea3cee09324);
            

            marker_bb34965511c84ad1b3b031510b154cec.bindPopup(popup_485b056c09224f0dad7606c47ef5dbd4);

            
        
        
            

            var marker_5c13d5a15d4d41ab82d13d23dd9ffd53 = L.marker(
                [18.0757,-76.8006],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_ee031e8382fa4eb7b97887f8f32503f0 = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_5c13d5a15d4d41ab82d13d23dd9ffd53.setIcon(icon_ee031e8382fa4eb7b97887f8f32503f0);
            
        
            
            var popup_5c226fd9555c44fd8f7594cf983e914a = L.popup({maxWidth: '300'});

            
                var html_abf2d7d498654d78a925975ea42578f7 = $('         <div id="html_abf2d7d498654d78a925975ea42578f7"                 style="width: 100.0%; height: 100.0%;">                 Stony Hill</div>                 ')[0];
                popup_5c226fd9555c44fd8f7594cf983e914a.setContent(html_abf2d7d498654d78a925975ea42578f7);
            

            marker_5c13d5a15d4d41ab82d13d23dd9ffd53.bindPopup(popup_5c226fd9555c44fd8f7594cf983e914a);

            
        
        
            

            var marker_2a9c9d12bb73417abb139c11a941143a = L.marker(
                [18.0512,-76.8137],
                {
                    icon: new L.Icon.Default()
                    }
                )
                .addTo(map_75fcbedbbef240c087f9f34c5fa51c51);
            
        
            

                var icon_35454fe9e0f04fe58ddfe045d9a55e9a = L.AwesomeMarkers.icon({
                    icon: 'home',
                    iconColor: 'white',
                    markerColor: 'red',
                    prefix: 'glyphicon',
                    extraClasses: 'fa-rotate-0'
                    });
                marker_2a9c9d12bb73417abb139c11a941143a.setIcon(icon_35454fe9e0f04fe58ddfe045d9a55e9a);
            
        
            
            var popup_75bb60539d004a27962ed7ddcb99490c = L.popup({maxWidth: '300'});

            
                var html_7b2b92077aec4adeb6d26676077eb840 = $('         <div id="html_7b2b92077aec4adeb6d26676077eb840"                 style="width: 100.0%; height: 100.0%;">                 Havendale</div>                 ')[0];
                popup_75bb60539d004a27962ed7ddcb99490c.setContent(html_7b2b92077aec4adeb6d26676077eb840);
            

            marker_2a9c9d12bb73417abb139c11a941143a.bindPopup(popup_75bb60539d004a27962ed7ddcb99490c);

            
        
        
        
        </script>
        